.footer {
    border-top: 6px solid #f4c400;
    padding: 5px 24px 0;
    background: #111;
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-container {
    width: var(----largura-maxima-conteudo);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

/* Parte da marca (logo + frase) */
.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.footer-brand p {
    font-size: 0.85rem;
    color: #ccc;
    margin: 0;
}

/* Navegação */
.footer-col ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-col a:hover {
    color: #f4c400;
}

/* Rodapé inferior */
.footer-bottom {
    background: #0d0d0d;
    color: #aaa;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

@media (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-brand {
        align-items: center;
    }

    .footer-col ul {
        flex-direction: column;
        gap: 12px;
    }
}
