#principal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: var(--fonte-titulo);
  color: var(--cor-texto);
  font-size: var(--font-size-5xl);
  line-height: 1.02;
  font-weight: 800;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.212);
  text-align: center;
}

.hero-sub {
  margin: 1.1rem auto 2rem auto;
  text-align: center;
  max-width: 54rem;
  /* line-height: 1.6; */
  font-size: var(--font-size-xl);
}

.hero-section {
  display: flex;
  justify-content: center;
}

.hero-cta {
  display: flex;
  gap: var(--spacing-10);
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.categoria-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  text-align: center;
}

/* Grade dos cards */
.grid-categorias--home {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

/* Card base */
.card--home {
  background-color: #f0f0f0;
  height: 160px;
  padding: 20px;
  border-radius: var(--raio-borda);
  transition: transform 0.3s, background 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card--home:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #dcdcdc;
}

/* ===== ÍCONE ===== */
.category-icon {
  width: 45px;
  height: 45px;
  background-color: #0078ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* ===== TÍTULO ===== */
.card--home h3 {
  font-size: var(--font-size-2xl);
  font-weight: 600;
  color: #333;
  margin: 0;
}

/* ===== TEXTO ===== */
.card--home p {
  color: #666;
  font-size: 0.9rem;
  margin: 5px 0 0;
}

/* ===== SETA (ARROW) ===== */
.category-arrow {
  position: absolute;
  top: var(--spacing-6);
  right: var(--spacing-6);
  color: var(--cor-secundaria);
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 0.3s ease;
}

.card--home:hover .category-arrow {
  opacity: 1;
  transform: translateX(8px);

}

.secao-funcionamento {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-align: center;
}

/* Grid de passos */
.passos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Card */
.card-funcionamento {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-funcionamento:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Número azul */
.numero {
  background-color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 1.7rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

/* Título do card */
.card-funcionamento h3 {
  text-align: center;
  font-family: var(--fonte-titulo);
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin-bottom: 10px;
}

/* Texto do card */
.card-funcionamento p {
  text-align: center;
  font-size: var(--font-size-base);
  line-height: 1.6;
}

.secao-anuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-10) 0;
  margin-top: 20px;
}

.secao-anuncio h2 {
  line-height: 1.02;
  font-weight: 700;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin-bottom: var(--spacing-2);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: var(--font-size-4xl);
  }

  .hero-sub {
    margin: 1.1rem auto 2rem auto;
    padding: 0 24px;
    font-size: var(--font-size-lg);
  }

  .secao-anuncio p {
    display: none;
  }
}