.clicavel {
    border: none;
    background: none;
    font-size: var(--font-size-lg);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* form */
.form-wrap {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    text-align: left;
}

/* labels & inputs */
.field-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--cor-texto);
}

.org-input--field, .org-input {
    display: block;
    width: 100%;
    padding: 12px 14px;
    border-radius: var(--raio-borda);
    border: 2px solid var(--black);
    background: var(--cor-campo);
    margin-bottom: 14px;
}

.input-field {
    width: 100%;
    background: var(--cor-campo);
    font-size: 18px;
    outline: none;
    font-family: var(--fonte-texto);
}

input#password {
    border: none;
}

/* password wrapper to show eye btn at end */
.password-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.input-password {
    padding-right: 54px;
}

/* espaço pro botão */

.btn-eye {
    position: absolute;
    right: 6px;
    height: 42px;
    width: 42px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    color: var(--black);
}

textarea.input-field {
    resize: vertical;
    min-height: 100px;
}

small.input-hint {
    display: block;
    color: gray;
    font-size: 0.9rem;
    /* margin-top: -10px; */
    margin-bottom: 12px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset:not([hidden]) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario-cadastro {
    margin: 2rem 0;
}

#senha, #confirmarSenha {
    border: 0;
}